In [69]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [70]:
data = pd.read_csv('../../data/csgo_round_snapshots.csv')

In [71]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122410 entries, 0 to 122409
Data columns (total 97 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   time_left                     122410 non-null  float64
 1   ct_score                      122410 non-null  float64
 2   t_score                       122410 non-null  float64
 3   map                           122410 non-null  object
 4   bomb_planted                  122410 non-null  bool
 5   ct_health                     122410 non-null  float64
 6   t_health                      122410 non-null  float64
 7   ct_armor                      122410 non-null  float64
 8   t_armor                       122410 non-null  float64
 9   ct_money                      122410 non-null  float64
 10  t_money                       122410 non-null  float64
 11  ct_helmets                    122410 non-null  float64
 12  t_helmets                     122410 non-null  float64
 13  ct_defuse_kits                122410 non-null  float64
 14  ct_players_alive              122410 non-null  float64
 15  t_players_alive               122410 non-null  float64
 16  ct_weapon_ak47                122410 non-null  float64
 17  t_weapon_ak47                 122410 non-null  float64
 18  ct_weapon_aug                 122410 non-null  float64
 19  t_weapon_aug                  122410 non-null  float64
 20  ct_weapon_awp                 122410 non-null  float64
 21  t_weapon_awp                  122410 non-null  float64
 22  ct_weapon_bizon               122410 non-null  float64
 23  t_weapon_bizon                122410 non-null  float64
 24  ct_weapon_cz75auto            122410 non-null  float64
 25  t_weapon_cz75auto             122410 non-null  float64
 26  ct_weapon_elite               122410 non-null  float64
 27  t_weapon_elite                122410 non-null  float64
 28  ct_weapon_famas               122410 non-null  float64
 29  t_weapon_famas                122410 non-null  float64
 30  ct_weapon_g3sg1               122410 non-null  float64
 31  t_weapon_g3sg1                122410 non-null  float64
 32  ct_weapon_galilar             122410 non-null  float64
 33  t_weapon_galilar              122410 non-null  float64
 34  ct_weapon_glock               122410 non-null  float64
 35  t_weapon_glock                122410 non-null  float64
 36  ct_weapon_m249                122410 non-null  float64
 37  t_weapon_m249                 122410 non-null  float64
 38  ct_weapon_m4a1s               122410 non-null  float64
 39  t_weapon_m4a1s                122410 non-null  float64
 40  ct_weapon_m4a4                122410 non-null  float64
 41  t_weapon_m4a4                 122410 non-null  float64
 42  ct_weapon_mac10               122410 non-null  float64
 43  t_weapon_mac10                122410 non-null  float64
 44  ct_weapon_mag7                122410 non-null  float64
 45  t_weapon_mag7                 122410 non-null  float64
 46  ct_weapon_mp5sd               122410 non-null  float64
 47  t_weapon_mp5sd                122410 non-null  float64
 48  ct_weapon_mp7                 122410 non-null  float64
 49  t_weapon_mp7                  122410 non-null  float64
 50  ct_weapon_mp9                 122410 non-null  float64
 51  t_weapon_mp9                  122410 non-null  float64
 52  ct_weapon_negev               122410 non-null  float64
 53  t_weapon_negev                122410 non-null  float64
 54  ct_weapon_nova                122410 non-null  float64
 55  t_weapon_nova                 122410 non-null  float64
 56  ct_weapon_p90                 122410 non-null  float64
 57  t_weapon_p90                  122410 non-null  float64
 58  ct_weapon_r8revolver          122410 non-null  float64
 59  t_weapon_r8revolver           122410 non-null  float64
 60  ct_weapon_sawedoff            122410 non-null  float64
 61  t_weapon_sawedoff             122410 non-null  float64
 62  ct_weapon_scar20              122410 non-null  float64
 63  t_weapon_scar20               122410 non-null  float64
 64  ct_weapon_sg553               122410 non-null  float64
 65  t_weapon_sg553                122410 non-null  float64
 66  ct_weapon_ssg08               122410 non-null  float64
 67  t_weapon_ssg08                122410 non-null  float64
 68  ct_weapon_ump45               122410 non-null  float64
 69  t_weapon_ump45                122410 non-null  float64
 70  ct_weapon_xm1014              122410 non-null  float64
 71  t_weapon_xm1014               122410 non-null  float64
 72  ct_weapon_deagle              122410 non-null  float64
 73  t_weapon_deagle               122410 non-null  float64
 74  ct_weapon_fiveseven           122410 non-null  float64
 75  t_weapon_fiveseven            122410 non-null  float64
 76  ct_weapon_usps                122410 non-null  float64
 77  t_weapon_usps                 122410 non-null  float64
 78  ct_weapon_p250                122410 non-null  float64
 79  t_weapon_p250                 122410 non-null  float64
 80  ct_weapon_p2000               122410 non-null  float64
 81  t_weapon_p2000                122410 non-null  float64
 82  ct_weapon_tec9                122410 non-null  float64
 83  t_weapon_tec9                 122410 non-null  float64
 84  ct_grenade_hegrenade          122410 non-null  float64
 85  t_grenade_hegrenade           122410 non-null  float64
 86  ct_grenade_flashbang          122410 non-null  float64
 87  t_grenade_flashbang           122410 non-null  float64
 88  ct_grenade_smokegrenade       122410 non-null  float64
 89  t_grenade_smokegrenade        122410 non-null  float64
 90  ct_grenade_incendiarygrenade  122410 non-null  float64
 91  t_grenade_incendiarygrenade   122410 non-null  float64
 92  ct_grenade_molotovgrenade     122410 non-null  float64
 93  t_grenade_molotovgrenade      122410 non-null  float64
 94  ct_grenade_decoygrenade       122410 non-null  float64
 95  t_grenade_decoygrenade        122410 non-null  float64
 96  round_winner                  122410 non-null  object
dtypes: bool(1), float64(94), object(2)
memory usage: 89.8+ MB

In [72]:
data_filtered = data.drop(columns=['time_left', 'ct_score', 't_score', 'map', 'bomb_planted', 'ct_health', 't_health', 'ct_money', 't_money', 'ct_players_alive', 't_players_alive', 'round_winner'])

In [73]:
data_filtered.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 122410 entries, 0 to 122409
Data columns (total 85 columns):
 #   Column                        Non-Null Count   Dtype
---  ------                        --------------   -----
 0   ct_armor                      122410 non-null  float64
 1   t_armor                       122410 non-null  float64
 2   ct_helmets                    122410 non-null  float64
 3   t_helmets                     122410 non-null  float64
 4   ct_defuse_kits                122410 non-null  float64
 5   ct_weapon_ak47                122410 non-null  float64
 6   t_weapon_ak47                 122410 non-null  float64
 7   ct_weapon_aug                 122410 non-null  float64
 8   t_weapon_aug                  122410 non-null  float64
 9   ct_weapon_awp                 122410 non-null  float64
 10  t_weapon_awp                  122410 non-null  float64
 11  ct_weapon_bizon               122410 non-null  float64
 12  t_weapon_bizon                122410 non-null  float64
 13  ct_weapon_cz75auto            122410 non-null  float64
 14  t_weapon_cz75auto             122410 non-null  float64
 15  ct_weapon_elite               122410 non-null  float64
 16  t_weapon_elite                122410 non-null  float64
 17  ct_weapon_famas               122410 non-null  float64
 18  t_weapon_famas                122410 non-null  float64
 19  ct_weapon_g3sg1               122410 non-null  float64
 20  t_weapon_g3sg1                122410 non-null  float64
 21  ct_weapon_galilar             122410 non-null  float64
 22  t_weapon_galilar              122410 non-null  float64
 23  ct_weapon_glock               122410 non-null  float64
 24  t_weapon_glock                122410 non-null  float64
 25  ct_weapon_m249                122410 non-null  float64
 26  t_weapon_m249                 122410 non-null  float64
 27  ct_weapon_m4a1s               122410 non-null  float64
 28  t_weapon_m4a1s                122410 non-null  float64
 29  ct_weapon_m4a4                122410 non-null  float64
 30  t_weapon_m4a4                 122410 non-null  float64
 31  ct_weapon_mac10               122410 non-null  float64
 32  t_weapon_mac10                122410 non-null  float64
 33  ct_weapon_mag7                122410 non-null  float64
 34  t_weapon_mag7                 122410 non-null  float64
 35  ct_weapon_mp5sd               122410 non-null  float64
 36  t_weapon_mp5sd                122410 non-null  float64
 37  ct_weapon_mp7                 122410 non-null  float64
 38  t_weapon_mp7                  122410 non-null  float64
 39  ct_weapon_mp9                 122410 non-null  float64
 40  t_weapon_mp9                  122410 non-null  float64
 41  ct_weapon_negev               122410 non-null  float64
 42  t_weapon_negev                122410 non-null  float64
 43  ct_weapon_nova                122410 non-null  float64
 44  t_weapon_nova                 122410 non-null  float64
 45  ct_weapon_p90                 122410 non-null  float64
 46  t_weapon_p90                  122410 non-null  float64
 47  ct_weapon_r8revolver          122410 non-null  float64
 48  t_weapon_r8revolver           122410 non-null  float64
 49  ct_weapon_sawedoff            122410 non-null  float64
 50  t_weapon_sawedoff             122410 non-null  float64
 51  ct_weapon_scar20              122410 non-null  float64
 52  t_weapon_scar20               122410 non-null  float64
 53  ct_weapon_sg553               122410 non-null  float64
 54  t_weapon_sg553                122410 non-null  float64
 55  ct_weapon_ssg08               122410 non-null  float64
 56  t_weapon_ssg08                122410 non-null  float64
 57  ct_weapon_ump45               122410 non-null  float64
 58  t_weapon_ump45                122410 non-null  float64
 59  ct_weapon_xm1014              122410 non-null  float64
 60  t_weapon_xm1014               122410 non-null  float64
 61  ct_weapon_deagle              122410 non-null  float64
 62  t_weapon_deagle               122410 non-null  float64
 63  ct_weapon_fiveseven           122410 non-null  float64
 64  t_weapon_fiveseven            122410 non-null  float64
 65  ct_weapon_usps                122410 non-null  float64
 66  t_weapon_usps                 122410 non-null  float64
 67  ct_weapon_p250                122410 non-null  float64
 68  t_weapon_p250                 122410 non-null  float64
 69  ct_weapon_p2000               122410 non-null  float64
 70  t_weapon_p2000                122410 non-null  float64
 71  ct_weapon_tec9                122410 non-null  float64
 72  t_weapon_tec9                 122410 non-null  float64
 73  ct_grenade_hegrenade          122410 non-null  float64
 74  t_grenade_hegrenade           122410 non-null  float64
 75  ct_grenade_flashbang          122410 non-null  float64
 76  t_grenade_flashbang           122410 non-null  float64
 77  ct_grenade_smokegrenade       122410 non-null  float64
 78  t_grenade_smokegrenade        122410 non-null  float64
 79  ct_grenade_incendiarygrenade  122410 non-null  float64
 80  t_grenade_incendiarygrenade   122410 non-null  float64
 81  ct_grenade_molotovgrenade     122410 non-null  float64
 82  t_grenade_molotovgrenade      122410 non-null  float64
 83  ct_grenade_decoygrenade       122410 non-null  float64
 84  t_grenade_decoygrenade        122410 non-null  float64
dtypes: float64(85)
memory usage: 79.4 MB

In [74]:
ct_side = [col for col in data_filtered.columns if (col.startswith('ct_'))]
t_side = [col for col in data_filtered.columns if (col.startswith('t_'))]

In [75]:
data_ct = data_filtered.drop(columns=t_side)
data_t = data_filtered.drop(columns=ct_side)

In [76]:
data_t.head()

,t_armor,t_helmets,t_weapon_ak47,t_weapon_aug,t_weapon_awp,t_weapon_bizon,t_weapon_cz75auto,t_weapon_elite,t_weapon_famas,t_weapon_g3sg1,...,t_weapon_usps,t_weapon_p250,t_weapon_p2000,t_weapon_tec9,t_grenade_hegrenade,t_grenade_flashbang,t_grenade_smokegrenade,t_grenade_incendiarygrenade,t_grenade_molotovgrenade,t_grenade_decoygrenade
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,300.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
2,200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0
3,200.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [77]:
data_ct.head()

,ct_armor,ct_helmets,ct_defuse_kits,ct_weapon_ak47,ct_weapon_aug,ct_weapon_awp,ct_weapon_bizon,ct_weapon_cz75auto,ct_weapon_elite,ct_weapon_famas,...,ct_weapon_usps,ct_weapon_p250,ct_weapon_p2000,ct_weapon_tec9,ct_grenade_hegrenade,ct_grenade_flashbang,ct_grenade_smokegrenade,ct_grenade_incendiarygrenade,ct_grenade_molotovgrenade,ct_grenade_decoygrenade
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,400.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,294.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,294.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,192.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [78]:
data_ct = data_ct.applymap(lambda x: True if x > 0 else False)
data_t = data_t.applymap(lambda x: True if x > 0 else False)

In [83]:
data_ct.drop(columns=['ct_weapon_usps', 'ct_weapon_p2000'], inplace=True)
data_t.drop(columns=['t_weapon_glock'], inplace=True)

In [84]:
data_ct.head()

,ct_armor,ct_helmets,ct_defuse_kits,ct_weapon_ak47,ct_weapon_aug,ct_weapon_awp,ct_weapon_bizon,ct_weapon_cz75auto,ct_weapon_elite,ct_weapon_famas,...,ct_weapon_deagle,ct_weapon_fiveseven,ct_weapon_p250,ct_weapon_tec9,ct_grenade_hegrenade,ct_grenade_flashbang,ct_grenade_smokegrenade,ct_grenade_incendiarygrenade,ct_grenade_molotovgrenade,ct_grenade_decoygrenade
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,True,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,True,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [85]:
data_t.head()

,t_armor,t_helmets,t_weapon_ak47,t_weapon_aug,t_weapon_awp,t_weapon_bizon,t_weapon_cz75auto,t_weapon_elite,t_weapon_famas,t_weapon_g3sg1,...,t_weapon_usps,t_weapon_p250,t_weapon_p2000,t_weapon_tec9,t_grenade_hegrenade,t_grenade_flashbang,t_grenade_smokegrenade,t_grenade_incendiarygrenade,t_grenade_molotovgrenade,t_grenade_decoygrenade
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3,True,False,False,False,False,False,False,False,False,False,...,False,False,True,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [86]:
data_ct.to_csv('data_ct.csv', index=False)
data_t.to_csv('data_t.csv', index=False)